* {
  box-sizing: border-box;
/*   background: #23252C; */
  background: #FFC0CB;
  font-family: 'Inter', sans-serif;
  margin: 0px;
  padding:0px;
}

a {
  text-decoration: none;
  background: inherit;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #1A1B21;
}
